.navigation{
    position: relative;
    color: #777777;
    background-color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    left: 150px; 
    padding: 30px;
    margin: 20px 10px 10px 20px;
    }
    
header {
    background-color: #ffffff;
    color: #777777;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    display: flex;
    border-bottom: 4px solid #777777;
    align-items: center;
    width: 110%;
    position: relative;
}

.topbit{
    max-width: 960px;
    background-color: #ffffff;
    display: flex;
}

h1{
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #ffffff;
    padding: 20px;
    position: relative;
    bottom: -22px;
    left: 122px;
}

