header {
    background-color: #ffffff;
    color: #777777;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    display: flex;
    border-bottom: 4px solid #777777;
    align-items: center;
    width: 110%;
    position: relative;
}

h1{
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #ffffff;
    padding: 20px;
    position: relative;
    bottom: -22px;
    left: 122px;
}

.navigation{
    position: relative;
    padding: 10px;
    left: 450px;
    bottom: -22px;     
}
